{{#each @players as |player|}}
  <div class='grid gap-1 mb-6 md:grid-cols-2'>
    <div>
      <label
        for='{{player}}'
        class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
      >
        {{player}}
      </label>
      <input
        type='text'
        id='{{player}}'
        class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
        placeholder='Nickname {{player}}'
        required
        {{on 'change' (pick 'target.value' (fn this.onNamePlayer player))}}
      />
    </div>
    <div>
      <div>
        <label
          for='{{player}}'
          class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
        >
          Select Symbol for
          {{player}}
        </label>
        {{#each @possibleSymbols as |symbol|}}
          <button
            class='rounded-lg shadow-md bg-blue-500 hover:bg-blue-700 px-1 w-8 mt-1 text-base mx-1 text-white'
            type='button'
            {{on 'click' (fn this.onSetCurrentPlayer player symbol)}}
          >
            {{symbol}}
          </button>
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}