<h2 class='font-semibold mb-6'>
  {{#if @statusDisplay}}
    <span
      class='bg-green-100 text-green-800 text-md font-semibold mr-2 px-3 py-2 rounded dark:bg-green-200 dark:text-green-900'
    >
      {{@statusDisplay}}
    </span>
  {{else}}
    {{#if @currentPlayer}}
      {{#if (eq @currentPlayer @firstPlayer)}}
        <span
          class='bg-green-100 text-green-800 text-md font-semibold mr-2 px-3 py-2 rounded dark:bg-green-200 dark:text-green-900'
        >
          Player Turn
          <em>
            {{@player1Name}}
          </em>
        </span>
      {{else}}
        <span
          class='bg-green-100 text-green-800 text-md font-semibold mr-2 px-3 py-2 rounded dark:bg-green-200 dark:text-green-900'
        >
          Player Turn
          <em>
            {{@player2Name}}
          </em>
        </span>
      {{/if}}
    {{else}}
      <span
        class='bg-green-100 text-green-800 text-md font-semibold mr-2 px-3 py-2 rounded dark:bg-green-200 dark:text-green-900'
      >
        Player Turn
        <em>
          {{@player1Name}}
        </em>
      </span>
    {{/if}}
  {{/if}}
</h2>